<div class="col-md-3 col-md-offset-1 booking-block">
  <h3>$50 per guest</h3>
  <p>8 out 10 Spots Remaining</p>

  <!-- JUST FOR DEMO PURPOSES -->
  <p class="btn btn-primary btn-block"><%= link_to "Book Now", login_path %></p>
  
  <hr/>

  <p class="btn btn-default btn-block buttons-with-icons"><a href="#"><i class="fa fa-envelope"></i> Email Host</a></p>
  <p class="btn btn-default btn-block buttons-with-icons"><a href="#"><i class="fa fa-paper-plane"></i> Send to Friends</a></p>
  <p class="btn btn-default btn-block buttons-with-icons"><a href="#"><i class="fa fa-bookmark"></i> Save this Tailgate</a></p>
</div>