<div class="col-md-3 col-md-offset-1 booking-block">
  <h3>$<%= @tailgate.price %> per guest</h3>
  <p><%= @tailgate.size %> Spots Remaining</p>

  <!-- JUST FOR DEMO PURPOSES -->
  <p class="btn btn-primary btn-block"><a href="/tailgates/<%= @tailgate.id %>/booking/billing">Book Now</a></p>


  <hr/>

  <p class="btn btn-default btn-block buttons-with-icons"><a href="#"><i class="fa fa-envelope"></i> Email Host</a></p>
  <p class="btn btn-default btn-block buttons-with-icons"><a href="#"><i class="fa fa-paper-plane"></i> Send to Friends</a></p>
  <p class="btn btn-default btn-block buttons-with-icons"><a href="#"><i class="fa fa-bookmark"></i> Save this Tailgate</a></p>
</div>
