

<div class="row">
  <!-- Carousel -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <!-- <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="First slide"> -->
          
        <!-- Static Header -->
        <div class="header-text hidden-xs">
          <div class="col-md-12 text-center">
            <h1>Create a tailgate</h1>
            <h3 class="subtext">Our online form makes it easy to create a tailgate. You just pick the game you'll be at, include the details of your tailgate, and upload pictures. That's it! We even let you duplicate the listing to post to multiple games if you are a regular host.</h3>
          </div>
        </div><!-- /header-text -->
      </div>

      <div class="item">
        <!-- <img src="assets/create-carousel-image.jpg" alt="First slide"> -->
          
        <!-- Static Header -->
        <div class="header-text hidden-xs">
          <div class="col-md-12 text-center">
            <h1>Connect with potential guests</h1>
            <h3 class="subtext">Your tailgate listing will be available for anyone to view. Crowdgate provides promotional tools to drive new guests to your listings and social integration makes it easy for you to share your tailgate with others. The most successful hosts engage with guests before they book, so be available for questions.</h3>
          </div>
        </div><!-- /header-text -->
      </div>

      <div class="item">
        <!-- <img src="/assets/grove_background.jpeg" alt="First slide"> -->
          
        <!-- Static Header -->
        <div class="header-text hidden-xs">
          <div class="col-md-12 text-center">
            <h1>Host an amazing tailgate</h1>
            <h3 class="subtext">By creating a tailgate on Crowdgate, you've made a promise to your guests that you plan on hosting a great, hassle-free tailgate. There is nothing quite like game day, and it's finally here. Have fun!</h3>
          </div>
        </div><!-- /header-text -->

      </div>

      <div class="item">
        <!-- <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="First slide"> -->
          
        <!-- Static Header -->
        <div class="header-text hidden-xs">
          <div class="col-md-12 text-center">
            <h1>Get Paid</h1>
            <h3 class="subtext">Once we've confirmed with guests that you've hosted your tailgate, we will send you your cash. No need to worry about that awkward moment of asking guests to pay, we handle all that online. That's what we call a win on game day.</h3>
          </div>
        </div><!-- /header-text -->
      </div>

    </div><!-- carousel-inner -->
  </div><!-- carousel -->
</div><!-- row -->


