<div class="row tailgate-listing">
  <div class="col-md-4">
    <dl class="dl-horizontal host-details">
      <dt>Host Name:</dt>
      <dd>Sheldon C.</dd>
      <dt>Experience:</dt>
      <dd>Hosted 18 Tailgates</dd>
      <dt>Status:</dt>
      <dd>Veteran</dd>
      <dt>Rating:</dt>
      <dd>4 Stars</dd>
    </dl>   
  </div>
  <div class="col-md-6">
    <p><strong><%= link_to "Tailgate for Army Game! Cornhole, food, and more!", tailgate_details_path%></strong></p>
    <p>
      I am a UCLA alum (twice) and have been tailgating at the Rose Bowl for almost a decade. I love to have fun, and most importantly, love to make sure my guests have fun too. I always have great food, coolers, chairs, and anything else that makes your day great. My favorite guests are those who are coming to the Rose Bowl for the first time.
    </p>
  </div>
   <div class="col-md-2">
    <p>8 spots left</p>
    <p>$50 Per Guest</p>
  </div>
</div>