
<form class="form tailgate-forms" action="/create_tailgate">

    <div class="form-group">
      <label class="control-label" for="name">Give your tailgate a headline</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Make it catchy">
    </div>

    <div class="form-group">
      <label class="control-label" for="description">Tell us about your tailgate</label>
      <input type="text" class="form-control" name="description" id="description" placeholder="Provide details on menu, etc.">
    </div>

    <div class="form-group">
      <label class="control-label" for="size">How many guests do you want to invite?</label>
      <input type="number" class="form-control" name="size" id="size" placeholder="The more the merrier...">
    </div>

    <div class="form-group">
      <label class="control-label" for="price">How much will it cost your guests to attend?</label>
      <input type="number" class="form-control" name="price" id="price" placeholder="$50.00">
    </div>

    <div class="form-group">
      <label class="control-label" for="affiliation">Do you want to affiliate your tailgate with either team?</label>
      <input type="text" class="form-control" name="affiliation" id="affiliation" placeholder="All fans are always welcome at Crowdgates">
    </div>

    <input type="submit" class="btn btn-primary btn-block" value="Create Tailgate">

</form>
