<div class="row">
  <div class="col-md-8 tailgate-content-section">
    <h4>5 Reviews
      <span class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </span>
    </h4>
    <div class="row">
      <div class="col-md-3">
        <p>Kevin B.</p>
      </div>
      <div class="col-md-9">
        <p>
          Sheldon hosted us the best tailgate ever. Despite the bad weather, Sheldon did a great job of keeping everyone happy. The tent kept us all dry, and he was still able to prepare great food (those burgers were amazing). Will definitely use Sheldon again. Great experience.
        </p>
        <p class="date">October 25, 2014</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p>Kevin B.</p>
      </div>
      <div class="col-md-9">
        <p>
          Sheldon hosted us the best tailgate ever. Despite the bad weather, Sheldon did a great job of keeping everyone happy. The tent kept us all dry, and he was still able to prepare great food (those burgers were amazing). Will definitely use Sheldon again. Great experience.
        </p>
        <p class="date">October 25, 2014</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p>Kevin B.</p>
      </div>
      <div class="col-md-9">
        <p>
          Sheldon hosted us the best tailgate ever. Despite the bad weather, Sheldon did a great job of keeping everyone happy. The tent kept us all dry, and he was still able to prepare great food (those burgers were amazing). Will definitely use Sheldon again. Great experience.
        </p>
        <p class="date">October 25, 2014</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p>Kevin B.</p>
      </div>
      <div class="col-md-9">
        <p>
          Sheldon hosted us the best tailgate ever. Despite the bad weather, Sheldon did a great job of keeping everyone happy. The tent kept us all dry, and he was still able to prepare great food (those burgers were amazing). Will definitely use Sheldon again. Great experience.
        </p>
        <p class="date">October 25, 2014</p>
      </div>
    </div>
  </div>
</div>
