<div class="row">
  <div class="col-md-8 tailgate-content-section">
    <h4>Tailgate Information:</h4>
    <table class="table table-bordered">
      <tr>
        <td class="selected-cell">Chairs <span class="selected-option">&#10003</span></td>
        <td class="selected-cell">Table<span class="selected-option">&#10003</span></td>
        <td class="selected-cell">Tent<span class="selected-option">&#10003</span></td>
      </tr>
      <tr>
        <td class="selected-cell">Food <span class="selected-option">&#10003</span></td>
        <td class="selected-cell">Beverages<span class="selected-option">&#10003</span></td>
        <td class="selected-cell">Alcohol<span class="selected-option">&#10003</span></td>
      </tr>
      <tr>
        <td class="selected-cell">Games<span class="selected-option">&#10003</span></td>
        <td class="selected-cell">Grill<span class="selected-option">&#10003</span></td>
        <td class="selected-cell">Reserved Parking<span class="selected-option">&#10003</span></td>
      </tr>
    </table>
    <p>
      <%= @tailgate.description %>
    </p>
  </div>
</div>
