<div class="col-md-8">
  <h3 class="subtext">
    <%= pluralize(@team.total_live_tailgates, 'tailgate') %> to choose from for <%= @team.name %> games
  </h3>
  <hr/>
</div>
</div>
<div class="row">
  <div class="col-md-8">
    <%= render 'events/game_listing' %>
  </div>
