<div class="container">
  <div class="row">
    <div class="page-header">
      <h3>Tailgates for Penn State Nittany Lions vs. Army Black Nights</h3>
      <h4><small>Beaver Stadium, University Park, PA, Saturday, Oct. 3</small></h4>
    </div>
  </div>

  <%= render 'tailgates/listings' %>

</div>
