<div class="jumbotron">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>List your tailgate</h1>
        <h3 class="subtext">
          Earn money to host tailgates. Reach more guests by listing on Crowdgate.
        </h3>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/tailgate_error_messages' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render 'tailgates/tailgate_form' %>
      <%= f.submit "Create Tailgate", class: "btn btn-success btn-block"  %>
      <% end %>
    </div>
  </div>
</div>
