<div class="row text-center text-splash">
  <div class="text-splash-content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>List your tailgate</h1>
        <h3 class="subtext">
          Earn money to host tailgates. Get more guests by listing on Crowdgate.
        </h3>
        <br>
        <h3 class="small">How does this work? Watch video <i class="fa fa-youtube-play"></i></h3>
      </div>
    </div>
  </div>
</div>


<div class="container">
<%= render 'shared/tailgate_error_messages' %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <br>
      <%= render 'new_tailgate_page' %>
    </div>
  </div>
</div>
