<div  class="modal fade"
      id="contact-host-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myLargeModalLabel"
      aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= render 'messages/new_contact_host' %>
    </div>
  </div>
</div>
