<div class="col-md-10 col-md-offset-1 text-center">
  <h3><strong>Featured Tailgates</strong></h3>
  <hr/>
  <div class="row">
    <div class="col-md-4">
      <div style="background-image: url('https://scontent-ord.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10711120_733686876668859_6806489374508207058_n.jpg?oh=64b04391e28d3eb5adf665a0dbd727a1&oe=55797CDF'); background-size: cover; height: 300px;">
        <div style="background-color:rgba(0,0,0,.4); height: 100%;">
          <div style="padding-top: 130px;">
          <span style="color: white; font-weight: 600; font-size: 22px;">
            Southern Hospitality
          </span>
          </div>
        </div>
      </div>
      <div class='text-left'>
        <br>
        <p>Free Tailgate hosted by Chris M.</p>
        <p>University of South Carolina</p>
        <span class="btn btn-lg btn-primary">Book Now</span>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Chicago Style Tailgating</h4>
      <div style="background-image: url('https://scontent-ord.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10711120_733686876668859_6806489374508207058_n.jpg?oh=64b04391e28d3eb5adf665a0dbd727a1&oe=55797CDF'); background-size: cover; height: 300px; padding-top: 140px;">
        <span class="btn btn-lg btn-primary">Book Now</span>
      </div>
      <div class='text-center'>
        <h4>Public Tailgate hosted by Paul G.</h4>
        <h4>Northwestern University</h4>
      </div>
    </div>
    <div class="col-md-4">
      <div style="background-image: url('http://tailgatetroubadours.com/wp-content/uploads/2014/03/2013-10-19-21.22.071.jpg'); background-size: cover; height: 300px; padding-top: 120px;">
        <span style="color: white; font-weight: 600; font-size: 22px;">
          Your Personal 12th Man
        </span>
        <div class="text-left" style="overflow: hidden; background-color: #640009; margin-top: 80px; padding: 10px;">
          <%= image_tag User.first.image, class: 'img-circle pull-left', height: '40px' %>
          <div style="color: white; margin-left: 50px;">
            <p>Private Tailgate hosted by Kyle S.</p>
            <p>Texas A&M</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
