<div class="col-md-6 col-md-offset-3">
  <br>
  <h3 class="text-center">
    <strong>Your tailgate's covered</strong>
  </h3>
  <hr/>
  <p class='text-content'>
    Game day is about enjoying time with your friends and family. It's about being outside, eating good food, and drinking cold beer. It's about creating great memories in the parking lot. Let's help you create some more of those memories.
  </p>
  <p class='text-content'>
    <u>Crowdgate removes all planning when it comes to tailgating, and creates an entirely hassle-free pre-game experience for you.</u> We do this by connecting you with the best turnkey tailgate hosts across the country. Turnkey tailgating is a service where you pay in advance, and the local tailgate host takes care of everything. The host does setup, clean up, food preparation, etc. All you need to do is show up and have fun on game day.
  </p>
  <p class='text-content'>
    If you love tailgating, but can't plan one, Crowdgate is perfect for you. If you are traveling to an away game, and want to experience how locals tailgate, Crowdgate is perfect for you. If you have a larger group such as a bachelor party or alumni assocation, Crowdgate is perfect for you. When it comes down to it, if you just want to have more fun on game day, Crowdgate is perfect for you.
  </p>
  <hr/>
  <%= link_to 'Your Best Game Day Awaits', teams_url,
      :class => "btn btn-primary btn-block", style: "color: white;" %>
</div>
