<div class="modal fade" id="log-in-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="panel panel-default">
        <div class="panel-heading">
          Log In
        </div>
        <div class="panel-body">
        <%= render 'devise/sessions/log_in_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
