<div class="modal fade" id="video_tutorial" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/119598936"></iframe>
        <p>
          <a href="https://vimeo.com/119598936">Booking tailgate tutorial</a> from
          <a href="https://vimeo.com/user37335044">Paul Gonzalez</a> on
          <a href="https://vimeo.com">Vimeo</a>.
        </p>
      </div>
    </div>
  </div>
</div>
