<div class="row text-center text-splash static-page-list">
  <div class="text-splash-content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Got questions?</h1>
        <h3 class="subtext">We have answers</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!-- Tutorial Videos -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="lead">Tutorial Videos</span>
        </div>
        <ul class="list-group" id="accordion">
          <li class="list-group-item faq" style="cursor:pointer;">
            How do I book a tailgate?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//player.vimeo.com/video/119598936"></iframe>
                <p>
                  <a href="https://vimeo.com/119598936">Booking tailgate tutorial</a> from
                  <a href="https://vimeo.com/user37335044">Paul Gonzalez</a> on
                  <a href="https://vimeo.com">Vimeo</a>.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- Hosting -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="lead">Hosting</span>
        </div>
        <ul class="list-group" id="accordion">
          <li class="list-group-item faq" style="cursor:pointer;">How do I become a host?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                We think it’s pretty straightforward. To start, all you need to do is click on the Become a Host link, and send us your email address. You will receive an email in return asking you to book an appointment for a quick 30 minute phone call. We like to first speak to make sure your philosophy about tailgating is similar to ours, and also want to know why you are interested in becoming a host.
              </p>
            </div>
          </li>
          <li class="list-group-item faq" style="cursor:pointer;">Can anyone become a host?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                The short answer is yes. But not everyone does. In theory, everyone has the capabilities of hosting a great tailgate. But we like to ensure each host has the necessary equipment, is aligned with how we view excellent customer service, and is overly excited about entertaining their guests. If you are just in to make a quick buck, Crowdgate probably isn’t the right fit. We want our guests to have a memorable game day, and it’s up to our hosts to deliver that.
              </p>
            </div>
          </li>
          <li class="list-group-item faq" style="cursor:pointer;">How do guests find my tailgate listings?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                Once you are confirmed as a host, a link will appear in the menu to “List a Tailgate” (see below for more information on creating tailgate listings). Any tailgate you list, will be 100% available for the public to view and book. As fans search for the games they are interested in, they will see your tailgates available. We also promote tailgates via our social media, as well as directly to alumni groups and other fans. We also expect you, as the host, to share the link with potential guests, and try to market your tailgates yourself.
              </p>
            </div>
          </li>
          <li class="list-group-item faq" style="cursor:pointer;">How much do I get paid?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                That totally depends on what kind of tailgate you want to host. If you want to make it a simple tailgate, that maybe just has some tables and chairs, but no food and beverages (sort of a post-up spot for fans), that will probably require a lower ticket price. If you want to go all out, you can charge more. It’s up to you to set the price of your tailgates. We take 20% of all sales, and pass along the other 80% to you as the host. The 80% number shows up on your “Account Details” page as the “Sales Percentage.”
              </p>
            </div>
          </li>
          <li class="list-group-item faq" style="cursor:pointer;">When do I get paid?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                As your tailgate gets booked, we send you 40% of ticket sales. We send payments every Monday morning for the previous week’s aggregate ticket sales. We send the balance of your ticket sales once the tailgate is completed, and we have confirmed with guests that you delivered what you promised.
              </p>
            </div>
          </li>
          <li class="list-group-item faq" style="cursor:pointer;">How do I get paid?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                Venmo. We can do PayPal or send a check if needed but fees may be incurred.
              </p>
            </div>
          </li>
          <li class="list-group-item faq" style="cursor:pointer;">What are the expectations of me as a host?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                There is no other way to really say this other than to be f’n awesome. Your guests will email you with questions before they book. Respond in a timely manner. They may want special accommodations. Try your best to deliver. On game day, they may have trouble finding you. Get on the phone and talk with them and give them directions. If their beer is empty, get them a new one. It is your job to provide the best game day experience possible for your guests. If you do, they will give you good ratings and reviews and you will in turn be able to grow your tailgates in the future. That said, we expect you to have fun too. It’s tailgating for crying out loud!
              </p>
            </div>
          </li>
        </ul>
      </div>
      <!-- Create a tailgate Lising -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="lead">Creating a Tailgate Listing</span>
        </div>
        <ul class="list-group" id="accordion">
          <li class="list-group-item faq" style="cursor:pointer;">How do I create my first listing?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                Once you get confirmed as a host, a link to “List a Tailgate”  will appear in your menu bar. Click on that. You will be brought to a screen that has the option for three different styles of tailgates: Paid, Packaged, or Free (see next question for more info on that). Click on the one you want to host. Then, select the game you want to host the tailgate for. After that, the rest is up to. Add pictures, be descriptive, set a price, set a tailgate size.
              </p>
            </div>
          </li>
          <li class="list-group-item faq" style="cursor:pointer;">What’s the difference between the three types of tailgates (Paid, Packaged, and Free)?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                After speaking with a number of tailgate hosts around the country, we discovered there are three distinct types of Tailgates: Paid, Packaged (or Private), and Free. Here is the difference between the three. Paid tailgates are where the hosts charges per head and sets an amount of tickets to sell. For example $50 per person, and up to 50 guests. Packaged (or Private) tailgates are where the host sells the entire package to one buyer. That buyer then invites who they please. So perhaps it’s $400 for the package, and the buyer takes care of inviting the guests (think about selling this to bachelor parties, alumni groups, or companies looking to entertain clients). The last is pretty self explanatory, free! The host sets the size of the tailgate, but it’s free for those guests to attend. Maybe you are a catering company and want to show off your food, or maybe you are a company trying to recruit young talent. Free tailgates are usually used for marketing something, or to show off your tailgating chops.
              </p>
            </div>
          </li>
          <li class="list-group-item faq" style="cursor:pointer;">I don’t see the game or team I want to tailgate for in the dropdown menu, what do I do now?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                <a href="mailto:paul@crowdgate.us" style="color: blue; text-decoration:underline">Email us!</a> We are constantly adding new Teams and Events, so if you don't see the one you are interested in, just shoot us a quick email and we will get it added ASAP.
              </p>
            </div>
          </li>
          <li class="list-group-item faq" style="cursor:pointer;">What’s with those weird image fields?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                We know it’s not ideal, and we are working to make it better. But for now, to add an image, you need to include a URL for it. So if you have images of your tailgates on Facebook, Twitter, or on your own website, just right click on the image and select “Copy Image URL.” Then, paste that link into the image fields of the tailgate form. We apologize for this nuisance, it will be better soon. We promise.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <!-- Modify an existing Lising -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="lead">Modifying an Existing Tailgate Listing</span>
        </div>
        <ul class="list-group" id="accordion">
          <li class="list-group-item faq" style="cursor:pointer;">How do I change some details about my tailgate?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                You can manage your account and all of your tailgate listings from the “Account Details” screen. Each tailgate listing has a yellow “Manage Listing” button below it. Clicking on that will send you to a form similar to the one you used to create the tailgate. This is where you can change details. Be careful though. If you charged a certain price, and guests have already purchased tickets, drastic changes in tailgate services can create for some angry guests (for example you advertised as all you can eat and now you won’t have food). If that happens, we have the right to withhold a reasonable amount of the ticket sales in order to refund and compensate the guests.
              </p>
            </div>
          </li>
          <li class="list-group-item faq" style="cursor:pointer;">My tailgate was sold out, woo hoo! Can I add more slots?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                Nice work you badass! Adding more tickets to sell is easy. Just go to the “Manage Listing” page and increase the tailgate size. All done!
              </p>
            </div>
          </li>
          <li class="list-group-item faq" style="cursor:pointer;">Something terrible happened, and I need to cancel my tailgate, what now?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                We hate to see this happen, especially if guests have already booked your tailgate. But we understand that unexpected events can arise, so we have a plan. First off, inform us that you are thinking about canceling. We will try to hook up the guests with other hosts. Second, we except you to send back any and all monies that you have been paid already, so that we can refund the guests in full. Third, go to the “Manage Listing” page, and click “Cancel this tailgate.” We really try to avoid this at all costs, so even if you have a friend who can fill in for you, we would prefer that. Let’s just communicate.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <!-- Modify an existing Lising -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="lead">Other Tailgate Stuff</span>
        </div>
        <ul class="list-group" id="accordion">
          <li class="list-group-item faq" style="cursor:pointer;">What happens if it rains?
            <i class="fa fa-chevron-down pull-right"></i>
            <div class="answer" style="display:none;">
              <hr/>
              <p>
                As long as the game is played, you will tailgate. There is some stuff we just can’t control, Mother Nature is one of them. If in fact the game is cancelled and the tailgate needs to be cancelled as well, we will work out a reasonable refund.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
var main = function() {
  $('.faq').click(function() {
    var $icon = $(this).find('i');
    if ($icon.hasClass('fa-chevron-down')) {
      $icon.removeClass('fa-chevron-down').addClass('fa-chevron-up');
    } else {
      $icon.addClass('fa-chevron-down').removeClass('fa-chevron-up');
    }

    $(this).children('.answer').toggle();
  });
};
$(document).ready(main);
</script>
