<!-- LANDING PAGE DESKTOP -->
<div class="landing-page-filter">
  <div class="jumbotron landing-page">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Find a tailgate to join</h1>
          <h3 class="subtext">Hassle-free tailgating is finally here. No planning, no preparing, no clean up. All you need to worry about is having fun on gameday.</h3>
        </div>
      </div>
    </div>
  </div>
</div>



  <div class="row landing-pg-sections", style="background-color: #F4F7F9;">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h3><strong>How it works</strong></h3>
      <div class="row">
        <ol class="how-to-list">
          <div class="col-md-4">
            <div class="step-3-tailgate">
              <li>
                Find a tailgate
              </li>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Step 1</h3>
              </div>
              <div class="panel-body">
                <p>Search for your favorite professional or college team. We display all Crowdgate hosted tailgates available for their events. </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="step-3-tailgate">
              <li>
                Book it
              </li>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Step 2</h3>
              </div>
              <div class="panel-body">
                <p>Attending a tailgate has never been easier. Buy your tickets online directly from the host. All payments are done securely.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="step-3-tailgate">
              <li>
                Enjoy gameday
              </li>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Step 3</h3>
              </div>
              <div class="panel-body">
                <p>On gameday you just show up. The host handles everything- setup, tear-down, cooking, and planning. Completely hassle-free.</p>
              </div>
            </div>
          </div>
        </ol>
      </div>
    </div>
  </div>

  <div class="row landing-pg-sections", style="background-color: #F4F7F9;">
    <div class="col-md-6 col-md-offset-3 text-justify">
      <h3>What we're all about</h3>
      <p>
        Crowdgate is the first peer-to-peer marketplace for tailgating. We connect hosts of turnkey tailgates with fans looking for a hassle-free pregame experience. Our platform allows fans to search for a specific sporting event and then find and attend a tailgate before that event. In doing so, we are changing the way fans tailgate.
      </p>

      <p>
        More importantly than just tailgating, however, Crowdgate is about connecting people. We believe there is nothing like the experiencee in the parking lot before a big game. Joe Kahn, the Comissioner of Tailgating, has said that <strong>"the tailgate is the  last great American Neighborhood."</strong> We agree, and that's why we built Crowdgate. We want to give every fan access to that experience.
      </p>
    </div>
  </div>



  <div class="row landing-pg-sections", style="background-color: #F4F7F9;">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h3><strong>Featured Teams</strong></h3>
      <div class="row">
        <div class="col-md-6 well">Penn State</div>
        <div class="col-md-6 well">Arizona Cardinals</div>
      </div>
      <div class="row">
        <div class="col-md-6 well">Dallas Cowboys</div>
        <div class="col-md-6 well">South Carolina</div>
      </div>
    </div>
  </div>

<!-- <section class="landing-pg-sections", style="background-color: #F4F7F9;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-justify">
        <h3>What the heck is a turnkey tailgate anyway?</h3>
        <p>
          Some fans argue that the best part of gameday is the tailgate. Other fans argue that tailgating can be a hassle. Between setup and tear down, planning, food prep and parking- it's often just not worth it.
        </p>
        <p>
          Our hosts offer unique experiences to their guests. Some our professional chefs, offering unique culinary experiences. Some are lifelong fans, offering up stories of legen. Some are just rookies, try
        </p>
      </div>
    </div>
  </div>
</section> -->


