<!-- LANDING PAGE DESKTOP -->
<div class="jumbotron hidden-xs">
  <div class="container text-center">
    <h1>Get paid to host tailgates</h1>
    <h3 class="subtext">Crowdgate connects turnkey tailgate hosts with fans</h3>
  </div>

  <div class="row home-page-buttons">
    <div class="col-md-3 col-md-offset-3">
      <p class="btn btn-primary btn-block"><a href="#learn-more">Learn More &nbsp; <i class="fa fa-caret-down"></i></a></p>
    </div>
    <div class="col-md-3">
      <p class="btn btn-primary btn-block"><a href="/new_tailgate">List Your Tailgate</a></p>
    </div>
  </div>
</div>

<section class="landing-pg-sections" id="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-justify">
        <h3>What we do?</h3>
        <p>
          Crowdgate is the first peer-to-peer marketplace for tailgating. We connect hosts of turnkey tailgates with fans looking for a hassle-free pregame experience. Our platform allows fans to search for a specific sporting event and then find and attend a tailgate before that event. In doing so, we are changing the way fans tailgate.
        </p>

        <p>
          More importantly than just tailgating, however, Crowdgate is about connecting people. We believe there is nothing like the experiencee in the parking lot before a big game. Joe Kahn, the Comissioner of Tailgating, has said that <strong>"the tailgate is the  last great American Neighborhood."</strong> We agree, and that's why we built Crowdgate. We want to give every fan access to that experience.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="landing-pg-sections">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-justify">
        <h3>What the heck is a turnkey tailgate anyway?</h3>
        <p>
          Some fans argue that the best part of gameday is the tailgate. Other fans argue that tailgating can be a hassle. Between setup and tear down, planning, food prep and parking- it's often just not worth it.
        </p>
        <p>
          Our hosts offer unique experiences to their guests. Some our professional chefs, offering unique culinary experiences. Some are lifelong fans, offering up stories of legen. Some are just rookies, try
        </p>
      </div>
    </div>
  </div>
</section>

