<div class="row text-center landing-splash" data-behavior="splash">
  <div class="landing-page-filter">
    <div class="landing-text">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Have more fun tailgating</h1>
          <h3 class="subtext">
            Get access to some of the best, and most unique, tailgates across the country. Now your only job on game day is to have fun.
          </h3>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <br>
  <div class="row">
    <%= render 'featured_tailgates' %>
  </div>
  <div class="row">
    <%= render 'landing_section_1' %>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <br>
      <h3 class="text-center">
        <strong>Learn More</strong>
      </h3>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <h4>Attending Tailgates</h4>
            </div>
            <div class="panel-body text-center">
              <p class="text-content">
                Click here to learn more about booking a tailgate
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <h4>Hosting Tailgates</h4>
            </div>
            <div class="panel-body">
              <p class="text-content text-center">
                Click here to become a host
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
