<div class="row text-center landing-splash" data-behavior="splash">
  <div class="landing-page-filter">
    <div class="landing-text">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Discover tailgates to join</h1>
          <h3 class="subtext">
            Hassle-free tailgating is here. No planning, no preparing, no clean up. All you need to worry about is having fun on gameday.
          </h3>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <%= form_tag('/search_teams', :method => 'get') do %>
        <div class="col-md-4 col-md-offset-3 landing-search">
          <input type="text" name="name" class='form-control landing-search-fields', placeholder="Search for your team">
        </div>
        <div class="col-md-2 landing-search">
          <input type="submit" value="Find Tailgates" class="btn btn-primary landing-search-fields">
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <h3><strong>How it works</strong></h3>
    <h3 class="small">Watch tutorial video <i class="fa fa-youtube-play"></i></h3>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-5">
      <h3><strong>Select a team</strong></h3>
      <p class="text-justify">
        Crowdgate is all about making your gameday experience as enjoyable as possible. We truly believe there is nothing quite like a sports town on gameday, and we want to help bring you there. Not only do we show you tailgates for that team, but we provide other resources to help make your gameday go as smooth as possible.
      </p>
      <a href="">See all teams <i class="fa fa-angle-right"></i></a>
    </div>
    <div class="col-md-7 text-center">
      <%= image_tag 'select_team.png', class: 'img-responsive' %>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="col-md-7">
      <p>INSERT MAC PICTURE HERE</p>
    </div>
    <div class="col-md-5">
      <h3><strong>Find a tailgate</strong></h3>
      <p class="text-justify">
        Our network of hosts provide some of the best culinary and most enjoyable experiences in parking lots across the country. Whether you need a simple tailgate to just post up before the game, or a full buffet and entertainment package, our hosts provide a wide variety of options. Just choose a tailgate that fits your desire. Also, feel free to reach out to the hosts beforehand if you have any questions or have any special accomodation requests.

        If there are no tailgates listed that interest you, start earning money today by hosting your own tailgates through Crowdgate!
      </p>
      <a href="">Learn more about hosting <i class="fa fa-angle-right"></i></a>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="col-md-5">
      <h3><strong>Book online</strong></h3>
      <p>
        Search for your favorite professional or college team. We display all Crowdgate hosted tailgates available for their events.
      </p>

    </div>
    <div class="col-md-7">
      <%= image_tag 'book_now_mac.png', class: 'img-responsive' %>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="col-md-7">
      <p>INSERT MAC PICTURE HERE</p>
    </div>
    <div class="col-md-5">
      <h3><strong>Enjoy gameday</strong></h3>
      <p>
        Search for your favorite professional or college team. We display all Crowdgate hosted tailgates available for their events.
      </p>

    </div>
  </div>
</div>

