<div class="row text-center text-splash static-page-list">
  <div class="text-splash-content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>People are talking about us</h1>
        <h3 class="subtext">Check out what they are saying</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ol class="list-group">
        <li class="list-group-item">
          <p>1. Tailgate Radio</p>
          <p>Paul Gonzalez of Crowdgate appeared on Tailgate Radio on March 26, 2015. Listen to what him and the ‘The Grill Sergeant’ John Largent chatted about.</p>
        </li>
      </ol>
    </div>
  </div>
</div>
