<div class="row text-center text-splash static-page-list">
  <div class="text-splash-content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>People are talking about us</h1>
        <h3 class="subtext">Check out what they are saying</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ol class="list-group">
        <li class="list-group-item">
          <p>1. Tailgate Radio</p>
          <p>Paul Gonzalez of Crowdgate appeared on Tailgate Radio on March 27, 2015. Listen to what him and ‘The Grill Sergeant’ John Largent chatted about. Paul comes on at around 10:30.</p>
          <iframe src="http://tailgateradio.podomatic.com/embed/frame/posting/2015-03-27T19_07_37-07_00?json_url=http%3A%2F%2Ftailgateradio.podomatic.com%2Fentry%2Fembed_params%2F2015-03-27T19_07_37-07_00%3Fcolor%3Df8ae06%26autoPlay%3Dfalse%26width%3D620%26height%3D85%26objembed%3D0"
          width="100%" height="85"
          frameborder="0" marginwidth="0"
          marginheight="0" scrolling="no"
          allowfullscreen="allowfullscreen">
          </iframe>
        </li>
      </ol>
    </div>
  </div>
</div>
