<div class="row text-center text-splash static-page-list">
  <div class="text-splash-content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Privacy Policy</h1>
        <h3><small>Date Last Modified: July 1, 2015</small></h3>
      </div>
    </div>
  </div>
</div>