<div class="row text-center text-splash">
  <div class="text-splash-content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>List your tailgate</h1>
        <h3 class="subtext">
          Earn money to host tailgates. Get more guests by listing on Crowdgate.
        </h3>
        <br>
        <h3 class="small">How does this work? Watch video <i class="fa fa-youtube-play"></i></h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="list-inline text-center"
      style="display: table; margin-bottom: 0; width:100%; background-color: white;">
        <li style="display: table-cell; padding: 20px 0; background-color: white; border-right: 1px solid rgba(0,0,0,.2);">Paid Tailgate</li>
        <li style="display: table-cell; padding: 20px 0; background-color: #D2D8D8; border-right: 1px solid rgba(0,0,0,.2);">Tailgate Package</li>
        <li style="display: table-cell; padding: 20px 0; background-color: #D2D8D8;">Free Tailgate</li>
      </ul>
      <div style="background-color: white; padding: 20px;" id="paid_tailgate">
        <% @tailgate = Tailgate.new %>
        <%= render 'tailgates/tailgate_form', { :@tailgate => @tailgate } %>
      </div>
    </div>
  </div>
</div>

