<div class="row text-center text-splash static-page-list">
  <div class="text-splash-content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Terms of Service</h1>
        <h3><small>Date Last Modified: July 1, 2015</small></h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 legal-document">
      <p class="text-uppercase">PLEASE READ ALL OF THE FOLLOWING TERMS OF USE CAREFULLY AS THEY CONTAIN INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES, AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS, EXCLUSIONS, AND OBLIGATIONS TO COMPLY WITH APPLICABLE LAWS AND REGULATIONS.</p>
      <p class="text-uppercase">IN PARTICULAR, HOSTS ARE RESPONSIBLE FOR KNOWING, UNDERSTANDING, AND FOLLOWING THE LAWS IN THEIR RESPECTIVE STATES, CITIES, AND APPLICABLE VENUES. SOME CITIES HAVE LAWS THAT RESTRICT YOUR ABILITY TO HOST ENTERTAINMENT EVENTS. THESE LAWS ARE OFTEN PART OF A CITY’S ZONING OR ADMINISTRATIVE CODES. IN MANY CITIES, HOSTS MUST REGISTER, GET A PERMIT, OR OBTAIN A LICENSE BEFORE HOSTING A PUBLIC ENTERTAINMENT EVENT. TEAMS AND/OR THEIR SPONSORS MAY ALSO HAVE CERTAIN RESTRICTIONS ON HOSTING EVENTS ON THEIR PROPERTIES. TEAMS, ORGANIZATIONS AND LOCAL GOVERNMENTS VARY GREATLY IN HOW THEY ENFORCE THESE LAWS. PENALTIES MAY INCLUDE FINES OR OTHER ENFORCEMENT. HOSTS SHOULD REVIEW LOCAL LAWS AND RESTIRCTIONS BEFORE LISTING AN EVENT ON CROWDGATE.</p>
      <p>Crowdgate, LLC (“Crowdgate”) provides an online platform that connects individuals and businesses who host tailgating functions for guests seeking to attend such tailgating functions prior to an event (such as a sporting event or concert) Crowdgate’s services are accessible at www.crowdgate.us (the “Site”).   The term “you” or “your,” where appropriate, may refer to either Hosts or Guests (as those terms are defined below).  If you are accessing the Site on behalf of a company, corporation, or other entity, then “you,” “your,” “Hosts” and “Guests,” as defined below, refer to that entity.</p>
      <p>By accessing or using the Site, together with any and all services available through the Site (collectively, the “Service”) you agree to comply with and be bound by these terms of use ("Terms of Use" or “Agreement”), whether or not you become a registered user of the Service.  Failure to use the Service in accordance with these Terms of Use and Privacy Policy may subject you to civil and criminal penalties.</p>

      <ol>
        <li>
          <p><span class="header">Acceptance of Terms of Use.</span>  Should you NOT accept these Terms of Use, you must neither access nor otherwise use the Service.  Crowdgate reserves the right to alter the Agreement at its sole discretion and with reasonable notice, except where a legal or administrative reason requires immediate amendment of these terms.  We will notify you of amended terms by posting them to our website.  Use of the Service after posting of amended terms will be governed by those amended terms.  These terms will govern any disputes arising before the effective date of the amended terms.</p>
        </li>
        <li>
          <p><span class="header">Residency and Age.</span>  This Service is intended to be accessed and used by individuals from within United States of America only, and Crowdgate disclaims any representations and/or warranties it makes in this Agreement which may apply to individuals who access the Service from other countries.  By accessing and using the Service, you represent, warrant, and affirm that you are at least 21 years of age.  If your use of the Service is illegal or otherwise prohibited in the jurisdiction where you are located, you are prohibited from accessing and utilizing the Service.  If you are accessing the Service on behalf of a corporation or other entity, you represent and warrant that you are authorized to do so.</p>
        </li>
        <li>
          <p><span class="header">Overview of Service.</span></p>
          <ol type="a">
            <li>
              <span class="header">Description of Crowdgate.</span>  Crowdgate provides a simple and efficient means for registered users who are individuals and/or businesses interested in hosting tailgates (“Hosts” or “you”) to list tailgate events (“Events”) and collect payments and/or donations with respect to the sale of tickets to said Events, which includes a Crowdgate Service Charge (as defined below) (collectively, the “Event Fees”), from registered users who want to attend such Events (“Guests” or “you”).
            </li>

            <li>
              <p><span class="header">Hosting an Event.</span>  To be a Host, you must first register with the Service as set forth in Section 6.  Once you register to become a Host, Crowdgate will contact you and conduct a brief phone call to learn more about you and why it is you are interested in being a Host.  Once you are confirmed as a Host, you may visit the Site to create a listing about an Event you plan on hosting (“Listing”).  To create a Listing, you will be required to fill out a questionnaire about the Event, including the Event Fees, dates/times, locations, attendance maximums, and other related rules and financial terms.  Hosts may choose the Event Fees in their sole discretion, and may choose from among three different types of Events:  paid, packaged, and free.  For more information on different Event types, see https://www.crowdgate.us/faq.   Once a Listing is created, it is made public to anyone with Internet access.  While you may send your Listing to specific individuals, any Guest may view the Listing and sign up for the Event. Guests may pay the applicable Event Fees to purchase a ticket through the Service to attend the Event.  As a Host, you understand and agree that you will receive the Event Fees less the applicable Crowdgate Service Charge (the “Ticket Fee”) from Guests via Crowdgate pursuant to the terms of this Agreement.  Payments and collection are discussed more fully in Section 5.  You understand and agree that once a Guest signs up and pays for your Event, you may not require that Guest to pay a higher price than the Listing states at the time the Guest signed up.  To manage your Listings and other Event details, you may go to the Manage Listing tab in your user account.  For more information on hosting and listing Events, see https://www.crowdgate.us/faq.</p>
              <p>As a Host, you represent and warrant that any Listing you create or Event you host (i) will not breach any agreements you have entered into with any third parties, and (ii) will (a) be in compliance with all applicable laws (such as zoning and public amusement laws, as well as laws governing alcohol consumption and distribution), tax requirements, and rules and regulations that may apply to any Event you host (including having all required permits, licenses, and permissions), and (b) not conflict the rights of third parties.  Note that Crowdgate assumes no responsibility for a Host’s compliance with any agreements or duties owed to third parties, applicable laws, rules and regulations.</p>
              <p>Host is responsible for verifying that all Event participants that consume alcohol are 21 years of age or older. Crowdgate cannot guarantee that all users or Event attendees are 21 and is not responsible for the service of alcohol to Event attendees under the age of 21.</p>
              <p>As a Host, you acknowledge and agree that you are responsible for your own acts and omissions and are also responsible for the acts and omissions of any Guests who attend your Events.   All persons attending an event may not be registered users of Crowdgate. Hosts are responsible for ensuring such persons’ compliance with each Host’s rules and other applicable laws.</p>
              <p>You understand that Crowdgate does not conduct background checks on Hosts or other registered users.  Crowdgate reserves the right to reject you as a Host for any reason or no reason, as well as suspend or terminate your access to and use of the Service as a Host.</p>
            </li>

            <li><span class="header">Attending an Event.</span>  As a Guest, you acknowledge and agree that you are responsible for your own acts and omissions at Events you attend.  You agree to comply with the Host’s rules and policies for such Event, as well as any applicable laws and regulations in effect that may implicate you. You agree to notify Host of any food allergies or other potential health issues either before or during the Event. Crowdgate cannot guarantee that reasonable accommodations can or will be made by Host.</li>

            <li>
              <p><span class="header">Platform Only.</span>  As stated above, Crowdgate makes available an online platform that connects Hosts with Guests interested in attending certain Events.  Crowdgate does not host its own Events and is in no way affiliated with the Hosts, their Events, or circumstances surrounding each Event.  Unless explicitly specified otherwise in this Agreement or on the Service, Crowdgate’s responsibilities are limited to:  (i) facilitating the availability of the Service, and (ii) serving as the limited payment collection agent of each Host for the purpose of accepting payments from Guests on behalf of the Host.</p>
              <p>By using the Site or Service, you agree that any legal remedy or liability that you seek to obtain for actions or omissions of other registered users or other third parties will be limited to a claim against the particular users or other third parties who caused you harm. You agree not to attempt to impose liability on or seek any legal remedy from Crowdgate with respect to such actions or omissions. Accordingly, we encourage you to communicate directly with other users on the Site and Service regarding any Events or Listings made or hosted by you. This limitation shall not apply to any claim by a Host against Crowdgate regarding the remittance of payments received from a Guest by Crowdgate on behalf of a Host, which instead shall be subject to the limitations described in the section below entitled “Limitation of Liability”.</p>
              <p class="text-uppercase">PLEASE NOTE THAT CROWDGATE CANNOT AND DOES NOT CONTROL THE EVENTS AND THE EXPERIENCE OR LEGALITY OF EACH EVENT.  CROWDGATE IS NOT RESPONSIBLE FOR AND DISCLAIMS ANY AND ALL LIABILITY RELATED TO ANY AND ALL EVENTS.  ACCORDINGLY, ANY EVENTS YOU HOST OR ATTEND ARE DONE AT YOUR OWN RISK.</p>
            </li>
          </ol>
        </li>
        <li>
          <p><span class="header">Privacy Policy.</span>  In addition to the terms contained herein, you agree to the privacy practices and procedures outlined in our privacy policy located at https://www.crowdgate.us/privacy.</p>
        </li>
        <li>
          <p><span class="header">Payment.</span></p>
          <ol type="a">
            <li>
              <p><span class="header">Appointment of Crowdgate.</span>  You understand that Crowdgate processes payments from Guests for Events through various Payment Methods.  As a Host, you hereby appoint Crowdgate as your agent for the limited purpose of collecting Event Fees from Guests.  You shall only seek remedy from Crowdgate if Crowdgate has collected Event Fees, as defined herein, from Guests.</p>
              <p>Please note that Crowdgate does not currently charge fees for the creation of Listings. However, you as a Host acknowledge and agree that Crowdgate reserves the right, in its sole discretion, to charge you and collect fees from you for the creation of Listings. Please note that Crowdgate will provide notice of any Listing fee collection via the Service prior to implementing such a Listing fee feature.</p>
            </li>
            <li>
              <p><span class="header">Processing Payments; Fees.</span>  Crowdgate uses third party payment process servers such as Stripe, PayPal or Venmo to facilitate payment and collection of the Event Fees (collectively, “Payment Methods”).  When you desire to attend an Event, Guests will use Stripe or another comparable service to pay the Event Fees directly to Crowdgate.  You understand that these third party Payment Methods may charge their own service charge on top of the Event Fees.  You are solely responsible for payment of such third-party service charges.  Upon payment of the Event Fees, Crowdgate will collect and retain the applicable Crowdgate Service Charge, which is typically 20% of the Host’s sales but may also be negotiated with each Host independent of these Terms.  Prior to each Event, Crowdgate shall make best efforts to forward the Ticket Fee’s collected on bookings during the prior week for an applicable Event to the appropriate Host at the beginning of each week.</p>
            </li>
            <li>
              <p><span class="header">Refunds.</span>  Crowdgate will not be responsible to you for a refund, in whole or in part, of Event Fees for any reason, except for Event Fees (excluding the portion paid to third party service providers) related to refunds issued to Guests in Crowdgate’s reasonable discretion.  Hosts accept the responsibility for providing refunds to paying Guests at each Host’s own discretion.  Crowdgate will not be responsible or liable for, and Hosts hereby agree to fully indemnify Crowdgate and its affiliates for, refunds, errors in issuing refunds, or lack of refunds in connection with the use of the Payment Methods.</p>
            </li>
            <li>
              <p><span class="header">Taxes.</span>  Tax regulations may require us to collect appropriate tax information from Hosts, or to withhold taxes from payouts to Hosts, or both. For instance, IRS regulations stipulate that we must collect an IRS Form W-9 from Hosts.  You as a Host are solely responsible for keeping the information in your tax forms current, complete and accurate.  If you as a Host fail to provide us with documentation that we determine to be sufficient to alleviate our obligation (if any) to withhold payments to you, we reserve the right in our sole discretion to freeze all payouts to you until resolution, to withhold such amounts as required by law, or to do both.  You as a Host understand and agree that you are solely responsible for determining (i) your applicable tax reporting requirements, and (ii) the taxes that should be included, and for including taxes to be collected or obligations relating to applicable taxes in Listings. You are also solely responsible for remitting to the relevant authority any taxes included or received by you.  Crowdgate cannot and does not offer tax-related advice to any users.</p>
            </li>
          </ol>
        </li>
        <li>
          <p><span class="header">User Registration.</span>  Although you may browse the Site and Listings without registering, you will need to first register with the Service as either a Host or a Guest in order to list and Host an Event or to sign up for an Event as a Guest.</p>
          <p>To be a registered user of the Services, you hereby agree to: 1) provide true, accurate and complete information, such as email address, phone number, and profile picture (at your election) (“Registration Data”) as prompted by any Service registration form; and 2) maintain and promptly update your Registration Data to keep it accurate and complete.  Crowdgate reserves the right to suspend or terminate your access to and use of the Service, or any portion thereof, on the basis of inaccurate or incomplete Registration Data.</p>
          <p>You may be required to select a username and password when completing the registration process.  You are solely and fully responsible for maintaining the confidentiality of your own username and password, and you are solely and fully responsible for all activities occurring under their username and password.  You agree to: 1) immediately notify Crowdgate of any unauthorized use of your username and password or any other breach of security; and 2) ensure that you log off from your account at the end of each session.  Crowdgate shall not be liable for any loss, damage or other liability arising from your failure to comply with this section or from any unauthorized access to or use of your account.</p>
          <p>Crowdgate is concerned about the safety and privacy of all its users, particularly those under the age of 21.  For this reason, you must be at least 21 years of age to register for an account. Crowdgate is not liable for any misrepresentations of age by users. Crowdgate cannot verify that all Guests or persons attending Events are 21 years of age.  Hosts are responsible for verifying age of Guests or ticketholders at Events before serving Guests alcohol.</p>
        </li>
        <li>
          <p><span class="header">Company License.</span>  Subject to this Agreement, Crowdgate policies, and to the extent permitted under all applicable laws and regulations, Crowdgate grants you a limited, non-exclusive, non-transferable, non-sublicenseable and revocable license to access and use the Site for purposes of creating an event page to promote, manage, and collect Event Fees for an Event listed on the Site.</p>
        </li>
        <li>
          <p><span class="header">Your Content Standards and Behavior.</span>  The Service allows you to post or submit content (“Your Content”) to or through the Service including, without limitation, photographs, messages, event descriptions, documents, images, Listings, or any other information or audiovisual material.  You are solely responsible for Your Content that you post or submit to or through the Service.</p>
          <p>Crowdgate does not monitor or approve content posted or submitted to the Service by any other user; however, Crowdgate may, in its sole and unfettered discretion, edit, remove, or delete any of Your Content.</p>
          <p>As a condition of accessing and using the Service, you agree not to post or submit content that:</p>
          <ol type="a">
            <li>is unlawful, threatening, abusive, libelous, defamatory, slanderous, obscene, vulgar, pornographic, indecent, or would constitute a criminal offense, give rise to civil liability, or otherwise violate any local, state, national, or international law or regulation;</li>
            <li>violates or infringes upon the rights of others including, without limitation, privacy or publicity rights, intellectual property rights including, without limitation, copyright, patent, trade secret, or trademark rights, or other rights, without first obtaining permission from the owner or rights holder;</li>
            <li>promotes malice or harm of any kind against any group or individual;</li>
            <li>solicits user passwords, financial information, or personal identification for unlawful purposes;</li>
            <li>contains a virus, spyware, malware, or harmful software; or</li>
            <li>constitutes junk mail, unsolicited mass mail, or spam; or</li>
            <li>promotes the services of a direct competitor of Crowdgate.</li>
          </ol>
          <p>The foregoing is only a partial list of the kind of Your Content which is prohibited on the Service.  Crowdgate reserves the right to investigate and take appropriate action, legal or otherwise, in its sole discretion against anyone who violates this section including, without limitation, removing the offending content from the Service and terminating the violator's Service access.</p>
          <p>You further agree not to:</p>
          <ol type="a">
            <li>use any content or information available through the Service for any unauthorized purpose;</li>
            <li>interfere with or damage the Service including, without limitation, through the use of viruses, spyware, malware, harmful code, flood pings, denial of service attacks, packet or IP spoofing, forged routing, or methods that in any way reproduce or circumvent the navigational structure or presentation of the Service or its contents;</li>
            <li>collect, store, or distribute any information about any other user other than in the course of the permitted use of the Service;</li>
            <li>impersonate any person, company, or entity;</li>
            <li>intentionally or unintentionally violate any applicable law or regulation</li>
            <li>modify, sublicense, translate, sell, reverse engineer, decipher, decompile, or otherwise disassemble any portion of the Service or any software used on or for the Service; or</li>
            <li>assist any third party in doing any of the foregoing.</li>
          </ol>
        </li>
        <li>
          <p><span class="header">Content License.</span>  By posting or submitting Your Content on the Service, you grant and warrant that you have the right to grant (or have obtained all necessary third party permissions to grant) to Crowdgate and its licensees, affiliates, successors, and assigns, a perpetual, irrevocable, worldwide, non-exclusive, fully paid-up, royalty-free, sublicenseable right and license (“License”) to use, reproduce, adapt, modify, distribute, translate, publish, create derivative works based on, perform, display and otherwise exploit Your Content anywhere in the world, in whole or in part, in any media now known or hereafter developed, in connection with the Service.</p>
          <p>You also grant all other users of the Service a non-exclusive, irrevocable, worldwide, royalty-free license to access, view, and reproduce Your Content for non-commercial, personal purposes as permitted through the functionality of the Service.  These rights are limited and non-sublicenseable.</p>
          <p>You hereby waive, represent, and warrant (“Waiver”) that you have obtained the waiver of any and all moral rights in Your Content that you submit or post on or through the Service including, without limitation, rights of attribution or integrity, and any similar rights in any jurisdiction worldwide.</p>
          <p>In addition, you agree that Crowdgate may use your name and logo (whether or not you have made it available through the Site) for the purpose of identifying you as an existing or past user of Crowdgate both on the Site and in marketing and promotional materials. You represent and warrant that you have obtained all necessary consent and authority from any individual whose likeness appears in any of Your Content which you post on or submit to the Service to: 1) post and submit such content on or to the Service; and 2) permit Crowdgate and its licensees, affiliates, and successors to use such content in accordance with the foregoing License.</p>
          <p>You further represent and warrant that Crowdgate’s exercise of any of its rights under the license granted hereunder will neither violate nor infringe upon the rights of others including, without limitation, privacy, publicity or intellectual property rights, and complies with all applicable laws and regulations.</p>
        </li>
        <li>
          <p><span class="header">Proprietary Rights.</span>  The visual interfaces, graphics, design, compilation, information, computer code, products, software, services, and all other elements of the Service (excluding any licenses granted to Crowdgate hereunder by you or third parties) (collectively, “Site Content”) are protected by United States copyright, trade dress, patent, and trademark laws, international conventions, and all other relevant intellectual property and proprietary rights, and applicable laws.  Unless expressly authorized in this Agreement or in writing by Crowdgate, you agree not to sell, license, modify, distribute, reproduce, publicly display or perform, publish, or create derivative works from any Site Content available on the Service.  Reproducing, copying or distributing any Site Content for any other purpose is strictly prohibited without the express prior written permission of Crowdgate.  You shall use the Site Content only for purposes that are permitted by this Terms of Service and any applicable laws and regulations.  Any rights not expressly granted herein are reserved.</p>
        </li>
        <li>
          <p><span class="header">Interactions with Other Service Users.</span>  You are solely responsible for interactions with other Service users.  Crowdgate shall not be responsible for any damage or harm resulting from your interactions with other users of the Service.</p>
          <p>You understand that Crowdgate does not screen users.  Crowdgate makes no representations or warranties as to user conduct.  Crowdgate reserves the right, without obligation, to: 1) monitor all interactions between users; and 2) take any action in good faith to restrict access to or the availability of any Your Content which Crowdgate considers prohibited.</p>
          <p class="text-uppercase">HOSTS ARE SOLELY RESPONSIBLE FOR HONORING COMMITMENTS MADE TO GUESTS THROUGH THE SERVICE.</p>
        </li>
        <li>
          <p><span class="header">Links.</span>  The Service contains links to other internet sites and resources, and you acknowledge and agree that: 1) Crowdgate shall not be responsible for the availability of such external sites or resources; and 2) Crowdgate does not endorse and is not responsible or liable for any content, advertising, products, or other materials on or available from such services or resources.  You agree that Crowdgate shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of, or reliance upon, any such content, goods or services available on or through any such Service or resource.</p>
        </li>
        <li>
          <p><span class="header">Disclaimer.</span>  The Service, including, but not limited to the Site and the entirety of its contents, is provided “AS IS” and Crowdgate hereby disclaims (except where prohibited by law) all express and implied warranties including, but not limited to, warranties of merchantability, title, non-infringement, and fitness for a particular purpose.  Crowdgate expressly disclaims any representation that:</p>
          <ol type="a">
            <li>the Service will meet your requirements;</li>
            <li>access to the Service will be uninterrupted, timely, secure, or error-free;</li>
            <li>any information obtained through or from the Service will be accurate or reliable;</li>
            <li>the quality of any products, services, information, or other material purchased or obtained by you through the Service will meet expectations;</li>
            <li>any user-provided information will not be disclosed, in the absence of user-provided approval, to third parties; or</li>
            <li>any data or software errors will be corrected.</li>
          </ol>
          <p class="text-uppercase"><small>Crowdgate is not responsbile and shall have no liability for the content, services, actions or inactions of any user, Host, Guest or other third party before, during, and/or after an Event.  Crowdgate will have no liability with respect to any warranty disclaimed in this Agreement.  You acknowledge and understand that Crowdgate has no control over and does not and cannot guarantee the quality, safety or legality of the Events advertised, the truth or accuracy of any of Your Content (including Events and Listings), or the ability of any user to perform, or actually complete a transaction.  In addition, Crowdgate is not affiliated with, and has no agency or employment relationship with, any third party service provider used in connection with the Service (such as payment processers), and Crowdgate has no responsibility for, and hereby disclaims all liability arising from the acts or omissions of any such third party service provider.</small></p>
          <p class="text-uppercase"><small>Crowdgate shall not be held responsible for technical malfunctions of any telephone system, cable system, computer equipment, server, provider, or software.  Crowdgate shall not be held responsible for any injury or damage to your computer resulting from use of the site or service including, but not limited to, web page viewing, file downloading, server use or access, or following Service links.  You access the Service at your own risk and are singularly responsible for any loss, damage, or costs incurred during such activity.  Crowdgate shall not be responsible for any incorrect or inaccurate content posted on the Service, regardless of the cause of such inaccuracy.  Crowdgate shall not be responsible for any conduct of any user of the Service.  Crowdgate shall not be responsible for any error, omission, interruption, deletion, defect, operational delay, communication line failure, or theft, destruction, or alteration of your communication.  No data or information obtained from Crowdgate or the Service shall create any warranty.</small></p>
          <p class="text-uppercase"><small>The foregoing disclaimers shall not apply to the extent prohibited by applicable law.</small></p>
        </li>
        <li>
          <p class="text-uppercase"><small><span class="header">Limits on Liability.</span>  Crowdgate, its affiliates, subsidiaries, officers, directors, employees, agents, licensors, successors, or assigns (“Crowdgate Parties”) shall not be liable under any circumstances or under any legal theory, whether in tort, contract, or otherwise with respect to the service,  for any indirect, incidental, special, consequential, or exemplary damages arising from or relating to: 1) the Service’s availability; 2) the acts, omissions, or conduct of any user or third party, whether online or offline; 3) any Service or Your Content; 4) any goods or services acquired as a result of any information obtained or transactions entered into through the Service; or 5) any use of goods or services made available on any internet resource or webpage linked through the Service, even if the Crowdgate parties have been advised of the possibility of such damages.</small></p>
          <p class="text-uppercase"><small>the Crowdgate parties’ aggregate liability to you in any matter arising from or related to the Service or the Agreement, shall not exceed the sum of one hundred dollars ($100).</small></p>
          <p class="text-uppercase"><small>some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages.  In such states or jurisdictions, Crowdgate’s liability is limited to the extent permitted by law.</small></p>
        </li>
        <li>
          <p class="text-uppercase"><small><span class="header">Release.</span>  In consideration of being permitted to access and use the Service, you hereby agree to release the Crowdgate Parties from all damages (whether direct, indirect, incidental, consequential or otherwise), losses, liabilities, costs and expenses of every kind and nature, known and unknown, arising out of or in any way related to disputes between you and third parties (including other Hosts or Guests) in connection with the Service, your access and use of the Service, or the Events.</small></p>
          <p class="text-uppercase"><small>In connection with the foregoing release, you hereby waive California Civil Code 1542 and any other applicable law or statute, which says in substances:</small></p>
          <blockquote class="text-uppercase"><small>“A general release does not extend to claims the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.”</small></blockquote>
        </li>
        <li>
          <p><span class="header">Indemnification.</span>  You agree to indemnify and hold harmless the Crowdgate Parties from and against any loss, liability, or expense, including reasonable attorneys’ fees and expenses and court costs, arising out of or related to:  1) any third party claim against any Crowdgate Party alleging that Your Content posted or submitted to the Service infringes any of the third party’s rights; 2) your breach of any provision of this Agreement and/or any representation or warranty identified herein; or 3) any cost or expense Crowdgate incurs in enforcing this Section.  Crowdgate reserves the right to control the defense and settlement of any action or proceeding against any Crowdgate Party that you are bound to defend pursuant to the foregoing.</p>
        </li>
        <li>
          <p><span class="header">Termination.</span>  Crowdgate, in its sole and unfettered discretion, may terminate your access to the Service for any reason including, without limitation, your breach of this Agreement.  You agree that any termination of your access to the Service may be effected without prior notice, and you agree that: 1) Crowdgate may immediately deactivate or delete any of your accounts and all related information and files in such accounts; and 2) bar any subsequent access to the Service or Your Content.  You agree that Crowdgate shall not be liable to you for any costs or damages of any kind for or resulting from any termination of your Service access.  Crowdgate reserves the right to block users from certain IP addresses from accessing the Service.  All provisions of this Terms of Use that by their nature should survive termination of your right to use the Service shall survive (including, without limitation, all limits on liability, releases, disclaimers of warranties, indemnification obligations, and intellectual property protections and licenses).</p>
        </li>
        <li>
          <p><span class="header">Discontinuance of Service.</span>  Crowdgate reserves the right to modify or discontinue, temporarily or permanently, any portion of the Service without prior notice.  You agree that Crowdgate shall not be liable to you or to any third party for any modification or discontinuance of any portion of the Service.</p>
        </li>
        <li>
          <p><span class="header">Take-Down Requests, DMCA.</span>  Crowdgate expressly prohibits users from uploading, posting, or otherwise distributing through the Service any content which may violate another party's privacy, publicity, intellectual property, or other rights.  If any user believes in good faith that any content on the Service violates or otherwise infringes upon any user’s rights, you are encouraged to contact Crowdgate immediately to request that the allegedly offending content (“Offending Content”) to be removed from the Service.  To make such a request (“Take-Down Request”), you should provide the Crowdgate designated agent, listed below, with:</p>
          <ol type="a">
            <li>the identity of the Offending Content in sufficient detail such that it can be readily located  (e.g., “The photograph of <detailed description> available at http://www.Crowdgate.us/item123”);</li>
            <li>User’s name, mailing address, email address, and telephone number; and</li>
            <li>the name, user id, email, telephone phone number, and mailing address of the person you believe posted the Offending Content (as available).</li>
          </ol>
          <p>In accordance with the Digital Millennium Copyright Act (“DMCA”), Crowdgate has designated a Copyright Agent who is charged with receiving notification of alleged copyright violations, and may accept notification of other offending Service content.  If you believe in good faith that material appearing on this Service infringes your copyright, provide notification, pursuant to 17 U.S.C. § 512(c)(3)(A), to our Copyright Agent at:</p>
          <dl>
            <dt>Agent:</dt>
            <dd>Paul Gonzalez</dd>

            <dt>Address:</dt>
            <dd>Crowdgate LLC</dd>
            <dd>840 W Blackhawk St. Apt 1407</dd>
            <dd>Chicago, IL 60642</dd>

            <dt>Phone:</dt>
            <dd>(201)-523-1293</dd>

            <dt>Fax:</dt>
            <dd>N/A</dd>

            <dt>Email:</dt>
            <dd>paul@crowdgate.us</dd>
          </dl>
          <p>Similarly, the DMCA provides that if you, in good faith, believe that a notice of copyright infringement has been wrongfully filed against you, you may send to our Copyright Agent a counter notice, subject to the requirements set forth in 17 U.S.C. § 512(g)(3) (2006).</p>
          <p>Lastly, it should be noted that individuals making misrepresentations made in alleging that material appearing on this Service constitutes copyright infringement may be liable for damages pursuant to 17 U.S.C. § 512(f) (2006).</p>
          <p>Crowdgate will process proper Take-Down Requests, will promptly remove or disable access to any offensive or infringing content, and will terminate the accounts of repeat infringers.</p>
        </li>
        <li>
          <p><span class="header">Export Control.</span>  You represent and warrant that you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties.</p>
        </li>
        <li>
          <p><span class="header">Miscellaneous.</span></p>
          <ol type="a">
            <li><span class="header">Choice of Law; Jurisdiction.</span>  This Agreement will be governed by and construed under the laws of the United States of America and, to the extent not inconsistent therewith, the laws of the State of Illinois without regard to conflicts-of-laws principles that would require the application of any other law.  Any proceeding arising out of or relating to this Agreement must be brought in the courts of Chicago, Illinois, and each of the parties irrevocably submits to the exclusive jurisdiction of each such court in any such proceeding, waives any objection it may now or hereafter have to venue or to convenience of forum, agrees that all claims in respect of the proceeding will be heard and determined only in any such court and agrees not to bring any proceeding arising out of or relating to this Agreement in any other court.  The parties agree that either or both of them may file a copy of this Section with any court as written evidence of the knowing, voluntary and bargained agreement between the parties irrevocably to waive any objections to venue or to convenience of forum.  Process in any proceeding referred to in the first sentence of this Section may be served on any party anywhere in the world.  In any action at law or in equity to enforce or interpret this Agreement, the prevailing party shall be entitled to reasonable attorney’s fees, costs, and necessary disbursements incurred both before and after judgment in addition to any other relief to which such party may be entitled.</li>
            <li><span class="header">Severability.</span>  If any provision – or portion of a provision – of this Agreement is held invalid, unenforceable, or void, the remainder of the Agreement shall remain unaffected and shall continue in full force and effect.</li>
            <li><span class="header">Separability.</span>  This Agreement does not and shall not be construed to create a partnership or joint venture between the parties hereto.</li>
            <li><span class="header">Merger.</span>  This Agreement is the entire agreement between the parties hereto, and replaces any and all prior negotiations, representations, or agreements between the parties, whether oral, electronic, or written, pertaining to the managerial relationship outlined herein.  The parties acknowledge that they have not relied on any promise, representation, or warranty, express or implied, not contained in this Agreement.  No waiver or any breach of this Agreement shall be construed as a continuing waiver or consent to any subsequent breach hereof.</li>
            <li><span class="header">Contact.</span>  Any questions regarding these Terms of Use may be directed to Crowdgate’s administrators at paul@crowdgate.us.</li>
          </ol>
        </li>
      </ol>
      <p class="header text-center">Terms of Use © 2015 Crowdgate, LLC.</p>
    </div>
  </div>
</div>