<div class="container">
  <div class="row">
    <div class="page-header">
      <h2>Log In</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'sessions/login' %>
    </div>
  </div>

</div>
