<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>There is a new request to become a host</h1>
    <h2><%= @email %></h2>
  </body>
</html>
