<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif; width: 60%; margin: 0 auto;">
    <br>
    <p>
      Hello,
    </p>
    <p>
      Thank you so much for your interest in listing your tailgates on Crowdgate. Getting new hosts on our platform is one of our favorite things to do. Why? Because we get to talk to awesome people like you, and learn about why you want to use Crowdgate, and what it is you love about tailgating.
    </p>
    <p>
      To make sure we always have great hosts, we ask you to schedule a quick 30 minute phone call with us. This is just to make sure Crowdgate is the right fit for you and your tailgates. Please click below to schedule a time.
    </p>
    <br>
    <div style="text-align: center">
      <!-- Start Square Appointments Embed code -->
      <a style="background-color: #08BE4C; color: white; height: 40px; text-transform: uppercase; font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif; letter-spacing: 1px; line-height: 38px; padding: 0 28px; border-radius: 3px; font-weight: 500; font-size: 14px; cursor: pointer; display: inline-block; text-decoration:none;" href="https://squareup.com/appointments/book/5faa1dcc-cc4f-4259-8932-76a878937e25/date">
        Schedule a Call to Become a Host
      </a>
    </div>
    <!-- End Square Appointments Embed code -->
    <p>Bottoms Up,</p>
    <p>Paul</p>
  </body>
</html>
