<!-- Small modal -->
<button type="button" class="hidden" id="modal-button" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Thank you!</h2>
        </div>
        <div class="panel-body text-justify">
          <p>
            You're on your way to becoming a host on Crowdgate! You should receive an email shortly to schedule a phone call with us. This will be a brief 30 minute call to get to know one another better. We want to make sure all of our hosts are as awesome as our guests expect.
          </p>
          <p>
            Thanks again for your interest! We look forward to catching up.
          </p>
          <p>Bottoms Up,</p>
          <p>Paul</p>
          <p>Founder and Head Coach</p>
        </div>
      </div>
    </div>
  </div>
</div>
