
<% if current_user.present? %>
  <div class="form-group">
    <label  for="disabledTextInput">Email</label>
    <input  type="text"
            id="disabledTextInput"
            class="form-control"
            value="<%= current_user.email %>"
            disabled >
  </div>
<% else %>
  <p>
    <a href="#" id="signupmodal" data-toggle="modal" data-target="#myModal">
      Click here to Log In or Sign Up
    </a>
  </p>
<% end %>
