
<%= render 'bookings/total_amount', { :f => f } %>

<input  type="hidden" name="tailgate_id" value="<%= @tailgate.id %>">

<button type="submit" id="buttonStripe" class="btn btn-primary btn-block">
  Submit Payment
</button>

