
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Checkout</h3>
  </div>
  <div class="panel-body text-center">
    <%= render 'bookings/total_amount' %>
    <input  type="hidden" name="tailgate_id" value="<%= @tailgate.id %>">
    <button type="submit" class="btn btn-primary btn-block">
      Submit Payment
    </button>
    <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.crowdgate.us' target='_blank'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
  </div>
</div>

