<% unless current_user.present? %>
  <fieldset disabled>
<% end %>
    <%= render 'bookings/total_amount', { :f => f } %>
    <button type="submit" id="buttonStripe" class="btn btn-primary btn-block">
      Submit Payment
    </button>
  </fieldset>
