<div class="container">
  <div class="row">
    <div class="page-header">
      <h3>Confirm your purchase of:</h3>
      <h4>Tailgate for Army Game! Cornhole, food, and more... with Sheldon C.</h4>
      <h4><small>Penn State vs. Army, Beaver Stadium, University Park, PA, Saturday, Oct. 3</h4>
    </div>
  </div>

  <div class="row">
    <form action="#">
      <div class="col-md-4">
        <%= render 'users/billingaddress' %>
      </div>
      <div class="col-md-4">
        <%= render 'users/creditcard' %>
      </div>
      <div class="col-md-4">
        <%= render 'users/amountconfirm_block' %>
      </div>
    </form>
  </div>
</div>
