<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Account Details</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @user.name %></dd>
      <dt>Email</dt>
      <dd><%= @user.email %></dd>
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Payment Information</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Credit Card</dt>
      <dd>XXXX-XXXX-XXXX</dd>
      <dt>Address 1</dt>
      <dd></dd>
      <dt>Address 2</dt>
      <dd></dd>
      <dt>City</dt>
      <dd></dd>
      <dt>State</dt>
      <dd></dd>
      <dt>Zip Code</dt>
      <dd></dd>
    </dl>
  </div>
</div>

