
<div class="col-md-3 col-md-offset-1 booking-block">
  <div class="row quantity">
    <div class="col-md-12">
      <label class="control-label" for="quantity">Change Quantity</label>
      <select class="form-control" name="quantity" id="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
  </div>
          
  <h3>Total Amount: $50</h3>
  
  <p class="btn btn-primary btn-block"><%= link_to "Confirm Payment", receipt_path%></p>
  <p>Charged to <i class="fa fa-cc-amex"></i> ending in 3000</p>

</div>