<!-- Small modal -->
<button type="button" class="hidden" id="modal-button" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Thank you!</h2>
        </div>
        <div class="panel-body text-justify">
          <p>
            You're on your way to becoming a host on Crowdgate! We will contact you via email within the next 48 hours to schedule a brief telephone call. The goal of the call is to discuss your tailgating experiences. This is not an interview. However, we do pride ourselves on having the best hosts, whom consistantly deliver great tailgates. So if we do not feel you mesh with our standards, we reserve the right to deny your access.
          </p>
          <p>
            Thanks again for your interest! We look forward to catching up.
          </p>
          <p>Bottoms Up,</p>
          <p>Paul</p>
        </div>
      </div>
    </div>
  </div>
</div>
