<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Hosting Details</h3>
  </div>
  <div class="panel-body">
    <p>Status: <%= @user.host_status %></p>
    <p>Experience: Hosted <%= @user.tailgates.count %> tailgates</p>
    <p>Description: <%= @user.description %> </p>
    <p>Rating: </p>
    <p>Reviews: <%= @user.host_status %></p>
  </div>
</div>
