<div class="row text-center team-request">
  <h3>Don't see your team listed above?</h3>
  <h4 class="subtext">Help bring Crowdgate to your favorite team by entering your email and the team's name below.</h4>
  <br>
  <div class="col-md-12 form-inputs">
    <%= form_tag('/team_request', class: 'form-inline', :remote => true) do %>

    <div class="form-group">
      <label  class="sr-only">Email</label>
      <input  type="email"
      name="email"
      class="form-control form-input-fields"
      placeholder="Enter Your Email">
    </div>

    <div class="form-group">
      <label  class="sr-only">Team Name</label>
      <input  type="text"
      name="team_name"
      class="form-control form-input-fields"
      placeholder="Enter Team Name">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

    <% end %>

    <br>
    <p>
      <small>
        <em>
          We will notify you when there are tailgates available for your team
        </em>
      </small>
    </p>
  </div>
</div>
