<div class="container">

  <% if @event.errors.full_messages.count > 0 %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row row-page-start">
    <div class="page-header">
      <h3>Make your changes below</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render 'form_for_event', {:event => @event} %>
    </div>
  </div>
</div>
