<div class="container">
  <div class="row">
    <div class="page-header">
      <h3>Admin Events Management</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form class="form tailgate-forms" action="/events/add">
        <div class="form-group">
          <label class="control-label" for="name">What college do you want to add their football schedule?</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Type in name of college" required>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Create Tailgate">
      </form>
    </div>
  </div>

</div>


