.social-box {
  margin-top: 20px;
  background-color: #F4F7F9;
  padding: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  font-size: 38px;
  padding: 10px 40px;
}