
/*SITE WIDE===============================*/
body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  background-color: #F4F7F9;
}

.body-content {
  min-height: 80vh;
}

.row-page-start {
  margin-top: 50px;
  padding-top: 50px;

  h3 {
    margin-top: 0;
  }

  .page-header {
    margin-top: 0;
  }
}

/*NOTICES BOX=============================*/

.notices {
 position: absolute;
 top: -60px;
 left: 20%;
 width: 60%;
 text-align: center;
 z-index: 1500;
 -webkit-animation: appear-from-top 4s 1 linear;

 .alert {
  border-radius: 0 0 4px 4px;
 }
}

@-webkit-keyframes appear-from-top {
  0%   { transform: translateY(60px) }
  75%  { transform: translateY(60px) }
  100% { transform: translateY(0em) }

}

/* LAYOUTS- NAV, FOOTER====================*/

.navbar-default {
  background-color: #303A48;
  border: none;
  /*transition: 1s;*/
  padding: 0 10px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li:hover {
  background-color: #F4F7F9;
  /*box-shadow: 0 1px 3px rgba(0,0,0,.2);*/
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default.transparent {
  background: transparent !important;
  color: white;
}

footer .row {
  padding: 25px 50px;
  border-top: 1px solid rgba(50, 50, 50, .2);
  background-color: #F4F7F9;
  color: #303A48;
  font-weight: 300;
  background-color: none;
  margin-top: 25px;
}

/* PANEL====================*/

.panel {
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

a,
a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}



h1 {
  line-height: 54px;
  font-weight: 600;
}

.subtext {
  font-size: 22px;
  line-height: 34px;
  font-weight: 300;
  margin-top: 0;
}

.btn-primary {
  /*border-width: 1px 1px 3px 1px;*/
  background-color: #06C;
  border-color: #105296;
}

.btn {
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  border-radius: 0;
}

.no-page-header {
  margin-top: 50px;
}

/*COLORS */

/* BASIC FORM PAGE ================ */

.form-area {
  height: 100vh;
  display: table;
  width: 100%;
  margin: 0;
  background-color: #F4F7F9;
}

.form-content {
  display: table-cell;
  vertical-align: middle;
  color: #303A48;
  font-weight: 600;
}

.form-inputs {
  padding-left: 0;
  padding-right: 0;

  .form-input-fields {
    width: 100%;
    height: 100%;
    padding: 4px 8px;
    border: none;
    border-radius: 0;
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
  }
}

/* TEXT CONTENT SPLASH===========*/

.text-splash {
  height: 60vh;
  display: table;
  width: 100%;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  margin-bottom: 25px;
}

.text-splash-content {
  display: table-cell;
  vertical-align: middle;
  color: #303A48;
  font-weight: 600;
}

.static-page-list {
  height: 35vh;
  padding-top: 20px;
}

.list-group-item.active {
  background-color: #303A48;
  border-color: #303A48;
}

.list-group-item.inactive {
  opacity: .6;
}

.list-group-item.active:hover,
.list-group-item.inactive:hover {
  background-color: #303A48;
  border-color: #303A48;
  opacity: 1;
  color: white;
  cursor: pointer;
}

.helper-link {
  opacity: .8;
  font-weight: 300;
}

.modal-text-link {
  cursor: pointer;
}

.modal-content {
  .form-area {
    height: 30vh;
  }
}

.modal-sm {
  padding: 10px;
}
