
/*Light blue background color #F4F7F9*/

/* NAV BAR */

.nav {
  color: #647A87;
}

.navbar {
  padding: 7px 0;
}


.site-body {
}

a,
a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  line-height: 54px;
  font-weight: 600;
}

.subtext {
  font-size: 22px;
  line-height: 34px;
  font-weight: 300;
  margin-top: 0;
}

.btn-primary {
  border-width: 1px 1px 3px 1px;
  background-color: #06C;
  border-color: #105296;
}

.btn {
  border-width: 1px 1px 3px 1px;
}


footer {
  min-height: 300px;
  padding: 50px;
  background-color: #F4F7F9;
  color: black;
  font-weight: 300;
  margin-top: 2px;
}

.no-page-header {
  margin-top: 50px;
}



