// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
  background-color: #F4F7F9;
  margin-bottom: 0px;
  min-height: 100vh;
  padding-top: 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  h1 {
    font-size: 38px;
    margin-top: 0;
  }
}

.jumbotron.landing-page {
  height: 80vh;
  background-image: url('grove_background_filtered.jpg');
  background-size: cover;
}

.home-page-buttons {
  margin-top: 50px;
}

.landing-pg-sections {
  padding: 15px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);

  p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
  }

  ol {
    list-style: none;
    padding: 0;
    height: 350px;
  }

  li {
    display: inline-block;
    padding: 100px 0;
    color: white;
    font-size: 28px;
    font-weight: 400;
  }

  .panel-heading {
    background-color: #F4F7F9;
  }
}

.how-to-list {
  margin-top: 20px;
}


.step-3-tailgate {
  background-image: url('step_3_tailgate_group.jpg');
  background-size: cover;
  border-radius: 4px 4px 0 0;
}


/* FOR NEW SPLASH PAGE */

body {
  padding: 0;
}

.landing-splash {
  height: 100vh;
  display: table;
  width: 100%;
  margin: 0;
  background-image: url(http://grfx.cstv.com/photos/schools/ole/sports/umaaf/auto_original/4700027.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-text {
  display: table-cell;
  vertical-align: middle;
  color: white;
  width: 200px;
  font-weight: 600;
}

.landing-page-filter {
  display: table;
  background-color: rgba(0,0,0,.6);
  height: 100vh;
  width: 100%;
}

.landing-search {
  padding-left: 0;
  padding-right: 0;

  .landing-search-fields {
    width: 100%;
    height: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 0;
    line-height: 32px;
    font-size: 18px;
  }
}
