// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* FOR NEW SPLASH PAGE */

.landing-splash {
  height: 90vh;
  display: table;
  width: 100%;
  margin: 0;
  background-image: url(http://grfx.cstv.com/photos/schools/ole/sports/umaaf/auto_original/4700027.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-text {
  display: table-cell;
  vertical-align: middle;
  color: white;
  width: 200px;
  font-weight: 600;
}

.landing-page-filter {
  display: table;
  background-color: rgba(0,0,0,.6);
  height: 90vh;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
}

.landing-search {
  padding-left: 0;
  padding-right: 0;

  .landing-search-fields {
    width: 100%;
    height: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 0;
    line-height: 32px;
    font-size: 18px;
  }
}

#landing-carousel-1 {
  position: absolute;
  -webkit-animation: first-carousel 10s infinite linear;
}

#landing-carousel-2 {
  position: absolute;
  display: none;
  opacity: .3;
  -webkit-animation: second-carousel 5s 5s infinite linear;
}

#landing-carousel-3 {
  position: absolute;
}

@-webkit-keyframes first-carousel {
  0%    { transform: translateX(100em);}
  10%    { transform: translateX(0em);}
  50%   { transform: translateX(0em);}
  90%   { transform: translateX(0em);}
  100%  { transform: translateX(-100em);}
}

@-webkit-keyframes second-carousel {
  0%    { transform: translateX(100em); display: block;}
  10%    { transform: translateX(0em); display: block;}
  50%   { transform: translateX(0em); display: block;}
  90%   { transform: translateX(0em); display: block;}
  100%  { transform: translateX(-100em); display: block;}
}

