// Place all the styles related to the Tailgates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tailgate-heading {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  margin-bottom: 25px;
}

.tailgate-form {
  background-color: white;
  padding: 20px;
  width: 100%;
}


.tailgate-type-selection {
  display: table;
  margin-bottom: 0;
  width: 100%;
  background-color: white;
  cursor: pointer;

  li {
    display: table-cell;
    padding: 20px 0;
    background-color: #D2D8D8;
  }

  li:hover {
    background-color: white;
  }

  .active-tailgate-form {
    display: table-cell;
    padding: 20px 0;
    background-color: white;
  }
}

.tailgate-listing {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;

    h4 {
      margin-top: 0;
    }

    .host-details {
    text-align: left;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    padding: 5px;

      dt {
        text-align: left;
        width: 40%;
      }

      dd {
        margin-left: 0;
      }
    }
}


.tailgate-listing-image {
  height: 150px;
  position: relative;
  background-size: cover;
  margin-bottom: 15px;
}

.tailgate-listing-price {
  position: absolute;
  padding: 5px;
  background-color: rgba(0, 102, 204,.8);
  color: white;
  text-align: center;
  top: 10px;
  left: 0;
  width: 50%;
}

.tailgate-content-section {
  border-bottom: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tailgate-listing:hover {
  background-color: #F4F7F9;
}

.tailgate-details-table td {
  width: 33%;
}

.booking-block {
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  padding: 20px 15px 20px 15px;
  text-align: center;
  background: white;

  margin-right: 97px;
  position: fixed;
  right: 0;

  h3 {
    margin-top: 0;
  }

  p {
    margin: 10px 0;
  }
}

.rating {
  color: #FFD800;
  /*margin-left: 10px;*/
}

.quantity {
  text-align: left;
  margin-bottom: 20px;
}

.host-image {
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
