body {
  background-color: #F4F7F9;
}

.team-splash {
  height: 100vh;
  display: table;
  width: 100%;
  margin: 0;
  background-color: #F4F7F9;
}

.team-text {
  display: table-cell;
  vertical-align: middle;
  color: black;
  font-weight: 600;
}

.team-search {
  padding-left: 0;
  padding-right: 0;

  .team-search-fields {
    width: 100%;
    height: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 0;
    line-height: 32px;
    font-size: 18px;
    font-weight: 400;
  }
}

/*TEAM SHOW PAGE ==========*/

.team-show-splash {
  height: 60vh;
  display: table;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.team-show-splash-filter {
  display: table;
  background-color: rgba(0,0,0,.6);
  height: 60vh;
  width: 100%;
  border-bottom: 3px solid #152852;
}

.team-show-text {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: 600;
}

.team-show-search {
  padding-left: 0;
  padding-right: 0;
}
