
/*TEAM SHOW PAGE ==========*/

.team-show-splash {
  height: 60vh;
  display: table;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.team-show-splash-filter {
  display: table;
  background-color: rgba(0,0,0,.6);
  height: 60vh;
  width: 100%;
}

.team-show-text {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: 600;
}

.team-show-footer {
  height: 20vh;
  padding: 60px 0;
  display: table;
  width: 100%;
  margin: 0;
}

.team-show-footer-text {
  display: table-cell;
  vertical-align: middle;
  color: black;
  font-weight: 600;
}
