<div class="container">
  <div class="row">
    <div class="page-header">
      <h3>Please review: </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form class="form" role="form">
        <fieldset>
          <label class="control-label" for="expiry-month">How many stars would you give Sheldon?</label>
          <p class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </p>

          <label class="control-label" for="expiry-month">How else did Sheldon do? Please be as specific as possible</label>
          <div class="form-group">
            <textarea rows="10" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Share your experiences with others..."></textarea>
          </div>
          <p class="btn btn-primary">Submit Review</p>
        </fieldset>
      </form>
    </div>
  </div>
</div>





