
<div  class="row" id="findTailgatesSearch"
      style=  " display: none;
                background-color: rgba(48, 58, 72, 0.9);
                width: 100%;
                position: absolute;
                top: 50px;
                left: 0;
                z-index: 1500;
                margin: 0;
                padding-top: 25px;">
  <div class="col-md-10 col-md-offset-1">
    <div class="row" style="color: white;">
      <div class="col-md-4">
        <h4>College Football</h4>
        <hr/>
        <ul class="list-unstyled">
          <% Team.college_football.each do |team|  %>
            <% if team.total_live_tailgates.count > 0 %>
              <li><%= link_to team.name, team %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>NFL</h4>
        <hr/>
        <ul class="list-unstyled">
          <% Team.nfl.each do |team|  %>
            <% if team.total_live_tailgates.count > 0 %>
              <li><%= link_to team.name, team %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>College Baseball</h4>
        <hr/>
        <ul class="list-unstyled">
          <% Team.college_baseball.each do |team|  %>
            <% if team.total_live_tailgates.count > 0 %>
              <li><%= link_to team.name, team %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div style="color: white; padding-bottom: 25px;">
      <%= render 'shared/team_request' %>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    $("#findTailgateButton").on('click', function() {
      $('#findTailgatesSearch').slideToggle('slow');
      $('.landing-text').fadeToggle('slow');
      $('.team-show-text').fadeToggle('slow');
      $('.text-splash-content').fadeToggle('slow');
      $('.become-host-text').fadeToggle('slow');
    });
  });
</script>
