<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <nav>
          <ul class="list-unstyled list-inline">
            <li><%= link_to "FAQ", faq_url %></li>
<!--             <li>About Us</li>
            <li>Terms of Service</li>
            <li>Privacy</li>
            <li>Jobs</li> -->
            <li><%= link_to "Press", press_url %></li>
            <li><%= link_to "Terms", tos_path %></li>
            <li><%= link_to "Privacy", privacy_path %></li>
            <li><a href="mailto:paul@crowdgate.us">Contact Us</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-6 text-right">
        <nav>
          <ul class="list-unstyled list-inline">
            <li class="lead">
              <a href="https://twitter.com/crowdgateapp" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
            </li>

            <li class="lead">&nbsp;</li>

            <li class="lead">
              <a href="https://www.facebook.com/crowdgate" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>

            <li class="lead">&nbsp;</li>
            <!-- <li class="lead"><a href="https://github.com/paulgonz6/crowdgate_app" target="_blank"><i class="fa fa-github"></i></a></li> -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
