<nav class="navbar visible-xs" style="overflow: hidden;">
  <span class="navbar-brand">
    <%= link_to "Crowdgate", root_url %>
  </span>
  <div class="pull-right" style="color: white; vertical-align: top; margin-right: 20px;">
    <ul class="nav navbar-nav">
      <li>
        <a href="#"><i class="fa fa-bars"></i></a>
      </li>
    </ul>
  </div>
</nav>

<div class="side-nav-menu">

</div>
